<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias ="DepartmentDto" type="com.test.test.domain.ex.DepartmentDto"/>
        <typeAlias alias ="EmployeeDto" type="com.test.test.domain.ex.EmployeeDto"/>
        <typeAlias alias ="JoinDto" type="com.test.test.domain.ex.JoinDto"/>
        <typeAlias alias ="JoinDto2" type="com.test.test.domain.ex.JoinDto2"/>
        <typeAlias alias="StoreDto" type="com.test.test.domain.StoreDto"/>
        <typeAlias alias="SearchCondition" type="com.test.test.domain.SearchCondition"/>
        <typeAlias alias="TourDto" type="com.test.test.domain.TourDto"/>
    </typeAliases>
</configuration>